<div>
  <section>
    <header class="flex-header">
      <h1 class="grow-header">
        {{localize 'TODO-MODULE-ID.dogs'}}
      </h1>
      <button class="module-control" type="button" title="{{localize " TODO-MODULE-ID.fetch-random-dog"}}"
        data-action="randomizeDog">
        <i class="fas fa-random fa-fw"></i>
      </button>
    </header>
  </section>
  <section class="module-dog-picture-container">
    {{#if this.imageUrl}}
    <img class="module-dog-image" src="{{this.imageUrl}}" alt="{{localize " TODO-MODULE-ID.random-dog-alt"}}" />
    {{else}}
    <p class="module-dog-placeholder">
      🐶
    </p>
    {{/if}}
  </section>
</div>
